* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  background: #000;
}

.menu-bar {
  position: fixed;
  z-index: 12;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100vw;
  min-height: 8rem;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
@media screen and (max-width: 768px) {
  .menu-bar {
    gap: 2rem;
  }
}
.menu-bar .title {
  font-size: 2.5rem;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .menu-bar .title {
    font-size: 2rem;
  }
}
.menu-bar .popup-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .menu-bar .popup-group {
    font-size: 0.5rem;
  }
}
.menu-bar .info,
.menu-bar .edit {
  height: 4rem;
  font-size: 1.6rem;
  border: 3px solid #000;
  border-radius: 5px;
  padding: 0.8rem;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  flex-shrink: 0;
  color: #fff;
}
.menu-bar .info img,
.menu-bar .edit img {
  width: 1.6rem;
  height: 1.6rem;
}
.menu-bar .round-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.8rem;
}
@media screen and (max-width: 768px) {
  .menu-bar .round-list {
    font-size: 0.5rem;
  }
}
.menu-bar .round-list a {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #fff;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .menu-bar .round-list a {
    font-size: 1.2rem;
  }
}

.challenge {
  cursor: grab;
  width: 100vw;
  height: 100vh;
}

body {
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vw;
}

.ui {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  bottom: 3.2rem;
  left: 3.2rem;
  gap: 1.6rem;
}
@media screen and (max-width: 768px) {
  .ui {
    left: 1.6rem;
    bottom: 1.6rem;
    gap: 0.8rem;
  }
}
.ui .compass {
  border-radius: 100%;
  width: 12.8rem;
  height: 12.8rem;
  border: 5px solid #000;
  background: rgba(0, 0, 0, 0.75);
  padding: 1.6rem;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
@media screen and (max-width: 768px) {
  .ui .compass {
    width: 8rem;
    height: 8rem;
    padding: 0.8rem;
  }
}
.ui .compass img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.ui .zoom-container {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
.ui .zoom-container .zoom {
  width: 4.8rem;
  height: 4.8rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 5px;
  border: 3px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 3.2rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .ui .zoom-container .zoom {
    width: 3.2rem;
    height: 3.2rem;
    font-size: 1.6rem;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.loader:before {
  content: "";
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 100%;
  background-color: transparent;
  border: 1.6rem solid rgba(255, 255, 255, 0.2);
  border-top-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  animation: 1s loader linear infinite;
}
@keyframes loader {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.map-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 10;
  bottom: 3.2rem;
  right: 3.2rem;
  width: 20rem;
  height: 13.33rem;
  border: 3px solid rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  opacity: 0.75;
  max-width: calc(100vw - 3.2rem);
}
.map-container.is-scaled {
  width: 60rem;
  height: 46rem;
  opacity: 1;
  border-color: #000;
}
.map-container.is-scaled #map {
  height: calc(100% - 6rem);
  cursor: crosshair;
}
@media screen and (max-width: 768px) {
  .map-container.is-scaled #map {
    height: calc(100% - 8rem);
  }
}
.map-container.is-scaled .coordinates-checker {
  display: flex;
}
@media screen and (max-width: 768px) {
  .map-container.is-scaled .coordinates-checker {
    align-items: center;
  }
}
.map-container.is-scaled .coordinates-checker .coordinates-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .map-container.is-scaled .coordinates-checker .coordinates-container {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.map-container.is-scaled .coordinates-checker .coordinates-container .edit {
  width: 2rem;
  height: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.map-container.is-scaled .scale-map .icon-minimize {
  display: block;
}
.map-container.is-scaled .scale-map .icon-maximize {
  display: none;
}
@media screen and (max-width: 768px) {
  .map-container {
    right: 1.6rem;
    bottom: 1.6rem;
  }
}
.map-container .scale-map {
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  border: 3px solid #000;
  background: #222;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  cursor: pointer;
  z-index: 401;
}
.map-container .scale-map img {
  width: 2rem;
  height: 2rem;
}
.map-container .scale-map .icon-minimize {
  display: none;
}
.map-container .scale-map .icon-maximize {
  display: block;
}
.map-container #map {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: unset;
  min-height: unset;
  cursor: pointer;
}
.map-container #map .leaflet-marker-icon {
  pointer-events: none !important;
}
.map-container .coordinates-checker {
  display: none;
  position: absolute;
  background: #fff;
  color: #000;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .map-container .coordinates-checker {
    height: 8rem;
  }
}
.map-container .coordinates-checker .checker {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .map-container .coordinates-checker .checker {
    height: auto;
  }
}
.map-container .coordinates-checker .checker img {
  -o-object-fit: contain;
     object-fit: contain;
}

.popup {
  z-index: 402;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4rem;
  align-items: center;
  justify-content: center;
  cursor: default;
  color: #fff;
}
.popup.is-active {
  display: flex;
}
.popup .popup-container {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: auto;
  margin: auto;
  cursor: default;
  max-height: 100%;
}
.popup .popup-container.secret .popup-container-content {
  justify-content: center;
  text-align: center;
}
.popup .popup-container .popup-container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 5px solid #000;
  background: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 1.6rem;
  cursor: default;
  overflow-y: auto;
  min-height: 15rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.popup .popup-container .popup-container-content .list {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}
.popup .popup-container .close-popup {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  border: 5px solid #000;
  background: #222;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%) translateY(-50%);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .hide-vm {
    display: none;
  }
}

body.menu {
  text-align: center;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
body.menu a {
  color: white;
  font-size: 2rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#webglmessage {
  position: absolute;
  top: calc(50% - 5rem);
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: calc(100vw - 8rem);
}